/isodec/src/.idea/
/isodec/src/cmake-build-release-intel-oneapi/
/isodec/src/cmake-build-release-wsl/
/isodec/src/CMakeFiles/
/.idea
/.venv/
/build/
/dist/
/site/
/.pytest_cache/
/**/__pycache__/
/*.egg-info/
/wheelhouse/
